[submodule "themes/hugo-webslides"]
	path = themes/hugo-webslides
	url = https://github.com/rcjach/hugo-webslides.git
[submodule "themes/vncnt-hugo"]
	path = themes/vncnt-hugo
	url = https://github.com/fncnt/vncnt-hugo
